{{set . "title" "複利利回り計算機"}} {{template "header.html" .}}

<style>
    header.jumbotron {
      background: url("/public/img/s_header-building-min.jpg");
      background-position: center center;
      background-size: cover;
      color: #fff;
    }
    .clearText {
      text-indent:100%;
      white-space:nowrap;
      overflow:hidden;
      font-size: 0vw;
    }
    .subText {
      font-size: 1vw;
    }

</style>

<header class="jumbotron">
  <div class="container">
    <div style="color:#ddd; padding-left: 7%; font-size: 5vw;line-height: 1em">複利<br/>利回り<br/>計算機</div>
<p></p>
<div style="color:#ddd; padding-left: 8%; font-size: 1.2vw;line-height: 1.2em">Make Your Investment</div>
</div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>


<div class="container-fluid">

    <div class="row justify-content-center" style="margin-bottom: 20px; color:#ccc; font-size: 1.5vw">
        <p class="col col-11 col-sm-10 text-center">利回りを計算するツールです。しっかり運用計画を立てて資産を作ろう！</p>
    </div>


  <form id="mainForm" action="App/Result/" method="GET">

    <div class="row justify-content-center">

      <div class="form-group col-11 col-sm-5">
        <label for="inputStartValue" class="control-label form-control-static">初期投資</label>
        <div class="input-group">
          <input type="number" value="100" id="inputStartValue" name="start" class="form-control" aria-label="">
          <span class="input-group-addon">万円</span>
        </div>
      </div>

      <div class="form-group col-11 col-sm-5">
        <label for="inputInterest" class="control-label form-control-static">利率</label>
        <div class="input-group">
          <select name="interestFrequency" id="interestFrequency" class="custom-select form-control　col-1"><option selected="selected" value="1">毎年</option>
            <option value="2">毎月</option>
          </select>
          <input type="number" value="10" name="inputInterest" id="inputInterest" class="form-control" aria-label="">
          <span class="input-group-addon ">%</span>
        </div>
      </div>


    </div>


    <div class="row justify-content-center">

      <div class="form-group col-11 col-sm-5">
        <label for="inputInvestment" class="control-label form-control-static">定期投資</label>
        <div class="input-group">
          <select name="investmentFrequency" id="investmentFrequency" class="custom-select form-control　col-1"><option selected="selected" value="1">毎年</option>
            <option value="2">毎月</option>
          </select>
          <input type="number" value="50" name="inputInvestment" id="inputInvestment" class="form-control" aria-label="">
          <span class="input-group-addon ">万円</span>
        </div>
      </div>

      <div class="form-group col-11 col-sm-5">
        <label for="inputPeriod" class="control-label form-control-static">期間</label>
        <div class="input-group">
          <input type="number" value="10" id="inputPeriod" name="period" class="form-control" aria-label="">
          <span class="input-group-addon">年</span>
        </div>
      </div>


    </div>


    <p>
      <div class="row justify-content-center" style="margin-top: 45px">
<div class="form-group col-12 col-sm-6">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Interest.3jigen -->
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7171481905282599" data-ad-slot="3568168069" data-ad-format="auto"></ins>
<script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
</div>
<div class="form-group col-11 col-sm-4">
  <input type="submit" class="col btn btn-lg btn-primary" value="計算開始" />
</div>
</div>
</p>

</form>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col col-11 col-sm-10 text-center">
      <a class="btn btn-info-outline btn-block" style="font-size: 3vw; margin-bottom: 20px" href="http://3jigen.net/" role="button">開発者の！！</a>
</div>
</div>
</div>


<div class="row justify-content-center">
  <div class="col col-sm-11">
    <!--タブのボタン部分-->
    <p>
      <div class="hr-divider">
        <ul class="nav nav-tabs nav-pills hr-divider-content hr-divider-nav">
          <li class="nav-item active">
            <a href="#tab1" class="nav-link" data-toggle="tab">年ごと</a>
          </li>
          <li class="nav-item">
            <a href="#tab2" class="nav-link" data-toggle="tab">月ごと</a>
          </li>
        </ul>
      </div>

    </p>
    <!--タブのコンテンツ部分-->
    <div class="tab-content">
      <div id="tab1" class="tab-pane active">

        <div class="row justify-content-center">
          <div class="form-group col-12 col-md-10">
            <table id="resultTable" class="table table-striped table-bordered">
            </table>
          </div>

        </div>
      </div>
      <div id="tab2" class="tab-pane">

        <div class="row justify-content-center">
          <div class="form-group col-12 col-md-10">
            <table id="resultTableManth" class="table table-striped table-bordered">
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>



<script>
    // 小数点n位までを残す関数
    // number=対象の数値
    // n=残したい小数点以下の桁数
    function floatFormat(number, n) {
      var _pow = Math.pow(10, n);
      return Math.ceil(number * _pow) / _pow;
    }


    jQuery(function ($) {
      $('#mainForm').submit(function (event) {
        // HTMLでの送信をキャンセル
        event.preventDefault();

        // 操作対象のフォーム要素を取得
        var $form = $(this);

        // 送信ボタンを取得
        // （後で使う: 二重送信を防止する。）
        var $button = $form.find('button');

        // 送信
        $.ajax({
          url: $form.attr('action'),
          type: $form.attr('method'),
          data: $form.serialize(),
          dataType: 'json',
          timeout: 10000,  // 単位はミリ秒

          // 送信前
          beforeSend: function (xhr, settings) {
            // ボタンを無効化し、二重送信を防止
            $button.attr('disabled', true);
          },
          // 応答後
          complete: function (xhr, textStatus) {
            // ボタンを有効化し、再送信を許可
            $button.attr('disabled', false);
          },

          // 通信成功時の処理
          success: function (result, textStatus, xhr) {

            //初期化
            $('#resultTable').html('<tr><th>年</th><th>全資産</th><th>利子</th><th>利子合計</th><th>元金合計</th></tr>');
            $('#resultTableManth').html('<tr><th>月</th><th>全資産</th><th>利子</th><th>利子合計</th><th>元金合計</th></tr>');

            var interestYear = 0;
            var i = 0;
            for (i; i < result.InvestmentResultManth.length; i++) {
              var td = '</td><td>';
              var interestManth = floatFormat(result.InterestManth[i], 2);
              var interestSumManth = floatFormat(result.InterestSumManth[i], 2);
              var investmentNoInterestManth = floatFormat(result.InvestmentNoInterestManth[i], 2);
              var investmentResultManth = floatFormat(result.InvestmentResultManth[i], 2);


              //利回り発生月以外は0
              //利回り毎月なら通らない
              if (i % result.InterestSpan != 0) {
                interestManth = 0;
              }

              interestYear += interestManth;


              //年単位の表示
              if (i % 12 == 0) {
                $('#resultTable tbody > tr:last').after('<tr><td>' + i / 12 + td + investmentResultManth + td + floatFormat(interestYear, 2) + td + interestSumManth + td + investmentNoInterestManth + '</td></tr>');
                interestYear = 0;
              }

              //月単位の表示
              $('#resultTableManth tbody > tr:last').after('<tr><td>' + i + td + investmentResultManth + td + interestManth + td + interestSumManth + td + investmentNoInterestManth + '</td></tr>');

            }

          },

          // 通信失敗時の処理
          error: function (xhr, textStatus, error) {
            $('#result').text("error");
          }
        });
      });

    });


  </script>

{{template "footer.html" .}}