{{set . "title" "Home"}} {{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
<div class="container">
  <div class="row">
    <h1>It works!</h1>
    <p></p>
  </div>
</div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<form action="App/Result/" method="POST">

  <div class="container-fluid">

    <div class="row justify-content-center">

      <!--<label for="inputStartValue" class="form-control-static col col-md-auto">初期投資額</label>-->
      <div class="form-group col-12 col-sm-6 col-lg-5">
        <label for="inputStartValue" class="control-label form-control-static">初期投資額a</label>
        <div class="input-group">
          <input type="text" id="inputStartValue" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-addon">円</span>
        </div>
      </div>

      <div class="form-group col-12 col-sm-6 col-lg-5">
        <label for="inputStartValue" class="control-label form-control-static">初期投資額</label>
        <div class="input-group">
          <input type="text" id="inputStartValue" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-addon">円</span>
        </div>
      </div>

    </div>


    <div class="row justify-content-center">

      <!--<label for="inputStartValue" class="form-control-static col col-md-auto">初期投資額</label>-->
      <div class="form-group col-12 col-md-6">
        <label for="inputStartValue" class="control-label form-control-static col">初期投資額</label>
        <div class="input-group col ">
          <input type="text" id="inputStartValue" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-addon">円</span>
        </div>
      </div>

      <div class="form-group col-12 col-md-6">
        <label for="inputStartValue" class="control-label form-control-static col">初期投資額</label>
        <div class="input-group col-12">
          <input type="text" id="inputStartValue" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-addon">円</span>
        </div>
      </div>

    </div>

  </div>

</form>

{{template "footer.html" .}}