{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>It works!</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<form action="App/Result/" method="POST">

  <div class="container">

    <div class="row justify-content-md-center">

      <label for="inputStartValue" class="form-control-static col col-md-auto">初期投資額</label>
      <div class="input-group col-12 col-md-4">
        <input type="text" id="inputStartValue" class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-addon">円</span>
      </div>

      <div class="col-md-1"></div>

      <label for="inputInterest" class="form-control-static col col-md-auto">利率</label>
      <div class="input-group col-12 col-md-4">
        <input type="text" id="inputInterest" class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-addon">%</span>
      </div>

    </div>

  </div>

</form>

{{template "footer.html" .}}
